@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Raleway", sans-serif;
  
  --color-brand-teal: #3fabb6;
  --color-brand-deep-teal: #328c97;
  --color-brand-beige: #d9af89;
  --color-brand-coral: #ff6b51;
  --color-brand-yellow: #ffd54f;
  --color-brand-navy: #003366;
  --color-brand-paper: #f5f2ed;
  --color-brand-ink: #003366; /* Using Midnight Navy for text */
}

@layer base {
  body {
    @apply font-sans bg-brand-paper text-brand-ink text-xl;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
